<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-text flow">
        The Bad Ass Ukulele Song Machine
      </span>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <p class="navbar-text">
        <span class="glyphicon glyphicon-user"></span> {{userName()}}
      </p>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <span class="glyphicon glyphicon-th-list"></span> Menu
            <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a ng-href="#/edit">Song editor</a></li>
            <li><a ng-href="#/library">My song library</a></li>
            <li><a ng-href="#/browse">Browse songs</a></li>
            <li class="divider"></li>
            <li><a ng-click="logout()" ng-href="#/login">Log Out</a></li>
          </ul>
        </li>
        <li>&nbsp &nbsp &nbsp</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
